In [1]:
import pandas as pd

In [2]:
#Q.no : 01
data =  [4, 8, 15, 16, 23, 42]

In [3]:
series = pd.Series(data)

In [4]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
type(series)

pandas.core.series.Series

In [6]:
#Q.no : 02
data1 = [1,2,3,4,5,6,9,8,7,6]
print(pd.Series(data1))

0    1
1    2
2    3
3    4
4    5
5    6
6    9
7    8
8    7
9    6
dtype: int64

In [7]:
#Q.no : 3
d = {"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Male"]}
df = pd.DataFrame(d)

In [8]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27    Male

Q.no : 4
soln: Data frame is a tabular form of data in which each column contains the value of one variable and each rows is a set of columns. DataFrames are mutable but series are immutable

Qno 5:
soln: Data manipulation in pandas:
1) Dropping columns in the data.
2) Dropping rows in the data.
3) Renaming a column in the dataset.
4) Select columns with specific data types.
5) Slicing the dataset.
Ex:-1. to drop null values from dataframe we use "pd.dropna()", 2. drop column from dataframe by using "df.drop(['column'], axis= 1),....etc

Qno.6 : 
DataFrame and Panel are mutable

In [9]:
#Q.no7:
Name= ['Alice','Bob','Clair']
Age = [25,30,27]
Gender = ['Female','Male','Female']

In [10]:
s1 = pd.Series(Name)
s2 = pd.Series(Age)
s3 = pd.Series(Gender)

In [ ]:
df1 = pd.d